.DocSearch {
  align-self: center;
  --docsearch-searchbox-background: var(--rp-c-bg-mute);
}

@media (max-width: 768px) {
  .DocSearch {
    --docsearch-searchbox-background: transparent;
  }
}

.DocSearch-Button-Container > .DocSearch-Button-Placeholder {
  font-size: 0.825rem;
}

span.DocSearch-Button-Keys > kbd {
  font-size: 0.825rem;
}

.DocSearch-Screen-Icon {
  display: flex;
  justify-content: center;
}
