.rspress-toc-link {
  display: block;
  border-radius: var(--rp-radius-small);
  transition: all 0.3s;
}

.rspress-toc-link-text {
  padding: 6px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in-out;
  border-radius: var(--rp-radius-small);
  color: var(--rp-c-text-2);
}

.rspress-toc-link-text:hover {
  background-color: var(--rp-c-bg-mute);
  color: var(--rp-c-text-1);
}
