.aside-link {
  padding: 0.25rem 0;
  margin-bottom: 1px;
  border-radius: var(--rp-radius-small) 0 0 var(--rp-radius-small);

  &:hover {
    background-color: var(--rp-c-bg-mute);
  }

  &.aside-active {
    &,
    &:hover {
      color: var(--rp-c-link);
      background-color: var(--rp-c-brand-tint);
    }
  }
}

.aside-link-text {
  padding: 0px 12px;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
