.tocItem {
  display: flex;
  line-height: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;

  position: relative;

  // text
  color: var(--rp-c-text-2);
  font-weight: 400;
  font-size: 14px;

  &.active {
    color: var(--rp-c-link);
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: var(--rp-c-brand);
      position: absolute;
      left: -20px;
      top: 0px;
    }
  }
}
