.aside-link {
  padding-bottom: 1px;
}
.aside-link-text {
  padding: 0px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px 0 0 10px;
  font-size: 13px;
  line-height: 1.75rem;
}

.aside-link-text:hover {
  background-color: var(--rp-c-bg-mute);
}

.aside-active,
.aside-active:hover {
  color: var(--rp-c-brand-dark) !important;
  background-color: var(--rp-c-brand-tint);
}
