.rp-tabs {
  contain: content;
  border-radius: var(--rp-radius);
  margin: 1rem 0;
  border: var(--rp-code-block-border);

  .rp-codeblock {
    margin: 0 !important;
    border-radius: 0 !important;
    border: none !important;

    .rp-codeblock__title {
      padding: 8px 16px !important;
    }
  }

  &__label {
    padding: 4px 8px 0 8px;
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    background-color: var(--rp-code-title-bg);
    border-bottom: var(--rp-code-block-border);

    &--no-scrollbar {
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    &__item {
      word-break: keep-all;
      font-size: 0.875rem;

      position: relative;
      color: var(--rp-c-text-2);

      box-sizing: border-box;
      margin-right: 10px;
      padding: 4px 12px;
      user-select: none;
      transition: color 0.2s ease-out;
      cursor: pointer;

      border-radius: var(--rp-radius-small) var(--rp-radius-small) 0 0;

      &:last-child {
        margin-right: 0;
      }

      &:after {
        display: none;

        content: '';

        width: 100%;
        height: 8px;
        position: absolute;
        left: 50%;
        bottom: -4px;
        transform: translateX(-50%);

        background-color: var(--rp-c-bg);
      }

      &--not-selected {
        &:hover {
          background-color: color-mix(in srgb, var(--rp-c-bg) 70%, transparent);
          border-radius: var(--rp-radius-small);
        }
      }

      &--selected {
        color: var(--rp-c-text-0);
        background-color: var(--rp-c-bg);
        box-shadow: 0px 0px 2px 0px #00000040;
        &::after {
          display: block;
        }
      }
    }
  }

  &__content {
    &__item {
      &--active {
        display: block;
      }
      &--hidden {
        display: none;
      }
    }
  }
}
