:global(.rspress-nav-menu-group-button) {
  background-color: transparent;
}

.hidden {
  transform: translate3d(0, calc(-100%), 0);
  background: transparent;
  opacity: 0;
}

.container {
  margin: auto;
}

.navContainer {
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  transition-property: transform, opacity;
  background: var(--rp-c-bg);
  height: var(--rp-nav-height);
  z-index: var(--rp-z-index-nav);
  // Hidden the box shadow
  // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.leftNav {
  display: none;
}

.rightNav {
  display: none;
}

.singleItem {
  word-break: keep-all;
}

.activeItem,
.singleItem:hover {
  background-color: var(--rp-c-bg-mute);
  cursor: pointer;
  color: var(--rp-c-link);
  border-radius: var(--rp-radius);
}

.navBarTitle {
  flex-shrink: 0;
}

.navContainer * {
  pointer-events: all;
}

.social-links-icon {
  width: 20px;
  height: 100%;
  display: flex;
  fill: currentColor;
  color: var(--rp-c-text-2);

  &:hover {
    color: var(--rp-c-text-1);
  }
}

.menu-item {
  display: none;
  margin: 0 8px;
}

@media (max-width: 768px) {
  :root {
    --rp-nav-height: 56px;
  }
  .menu-item:before {
    display: none;
  }
  .mobileNavMenu {
    display: flex;
  }
}

@media (min-width: 768px) {
  .menu-item {
    display: flex;
  }
  .leftNav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 0.5rem;
  }
  .rightNav {
    display: flex;
    align-items: center;
  }
  .mobileNavMenu {
    display: none;
  }
}

@media (min-width: 960px) {
  .mask {
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 100vw;
    height: 30px;
    &.docPage {
      // Avoid influent the sidebar
      width: calc(100vw - var(--rp-sidebar-width) - 48px);
    }
  }

  .mask::before {
    display: block;
    width: 100%;
    height: 30px;
    background: linear-gradient(var(--rp-c-bg), transparent 60%);
    content: '';
  }

  .leftNav {
    margin: 0 2rem;
  }
}
