.button {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  height: 48px;
  line-height: 48px;
}

.button:active {
  transition:
    color 0.1s,
    border-color 0.1s,
    background-color 0.1s;
}

.button.medium {
  border-radius: var(--rp-radius);
  padding: 0 20px;
  line-height: 38px;
  height: 38px;
  font-size: 14px;
}

.button.big {
  border-radius: var(--rp-radius-large);
  font-size: 16px;
  min-width: 142px;
  font-weight: 700;
}

.button.brand,
.button.brand:hover,
.button.brand:active {
  opacity: 1;
  color: #fff;
  transition: all 0.3s ease;
}

.button.brand {
  background: linear-gradient(
    275deg,
    var(--rp-c-brand-dark) 3%,
    var(--rp-c-brand-light) 97%
  );
}

.button.brand:hover {
  background-color: var(--rp-c-brand-light);
  opacity: 0.8;
}

.button.alt,
.button.alt:hover,
.button.alt:active {
  border: 1px solid var(--rp-c-gray-light-3);
  color: var(--rp-c-text-1);
  background-color: var(--rp-c-gray-light-5);
  transition: all 0.3s ease;
}

:global(.dark) .button.alt {
  background-color: var(--rp-c-bg-mute);
  border-color: #484848;
  color: var(--rp-c-text-1);
}

.button.alt:hover {
  background-color: var(--rp-c-gray-light-4);
}

:global(.dark) .button.alt:hover {
  background-color: #484848;
}

@media (max-width: 768px) {
  .button.big {
    font-size: 14px;
    min-width: 100px;
    height: 42px;
    line-height: 42px;
  }
}
