.navContainer {
  display: flex;
  height: 64px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--rp-c-divider-light);
  background: var(--rp-c-bg);
  color: var(--rp-c-text-1);
  padding: 0 20px 0 20px;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;

  .leftNav {
    display: flex;
    .navBarTitle {
      flex-shrink: 0;
    }
  }

  .rightNav {
    height: 100%;
    gap: 24px;
    display: flex;
    align-items: center;
  }
}
