.navScreen {
  display: none;
  position: fixed;
  top: var(--rp-nav-height);
  right: 0;
  bottom: 0;
  left: 0;
  padding: 32px;
  width: 100%;
  background-color: var(--rp-c-bg);
  overflow-y: auto;
  pointer-events: auto;
  z-index: 20;
}
.active {
  display: block;
}

.container {
  margin: 0 auto;
  padding: 24px 0 96px;
  max-width: 248px;
}
.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navMenuItem {
  display: flex;
  justify-content: center;
  padding: 12px 0 11px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--rp-c-text-1);
  border-bottom: 1px solid var(--rp-c-divider-light);
  transition:
    border-color 0.5s,
    color 0.25s;
}
.navAppearance {
  padding-right: 0;
}
.socialAndAppearance {
  padding: 8px 0 7px;
}

.navScreenMenuGroup {
  height: 39px;
  overflow: hidden;
  transition: border-color 0.5s;
}
.navScreenMenuGroup.open {
  padding-bottom: 10px;
  height: auto;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 7px 0;
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--rp-c-text-1);
  transition: color 0.25s;
  background-color: transparent;
}

.buttonSpan {
  display: flex;
  align-items: center;
  height: 24px;
  padding-right: 4px;
}
.navScreenMenuGroup .items {
  visibility: hidden;
}

.navScreenMenuGroup.open .items {
  visibility: visible;
}
.down {
  transition: all 0.5s;
}
.open.down {
  transform: rotate(180deg);
}
