.rp-nav-screen {
  display: none;
  position: fixed;
  top: calc(var(--rp-nav-height) + var(--rp-banner-height, 0px));
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px 48px;
  background-color: var(--rp-c-bg);
  overflow-y: auto;
  z-index: var(--rp-z-index-nav-screen);

  &--open {
    display: block;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
  &__others {
    display: flex;
    @media (max-width: 1280px) {
      display: none;
    }
  }
}

.rp-nav-screen-divider {
  width: 100%;
  height: 1px;
  background-color: var(--rp-c-divider-light);
  margin: 1rem 0;
}
