.rp-home-hero {
  position: relative;
  margin: 5rem auto 5rem auto;
  max-width: 72rem;
  padding: 20px 40px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  @media (max-width: 1000px) {
    margin: 0 auto 0 auto;
    flex-direction: column-reverse;
    align-items: center;
    .rp-home-hero__container {
      align-items: center;
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    padding: 10px;
    .rp-home-hero__title {
      font-size: 2.5rem;
    }
    .rp-home-hero__subtitle {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }

  &__container {
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  &__image {
    align-self: center;

    display: flex;
    flex: 1;
    max-width: 50vw;
  }

  &__image-img {
    display: block;
  }

  &__image-img--dark {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__badge {
    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 8px;
      border-radius: 50%;
      background: var(--rp-home-hero-title-bg);
    }
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background: var(--rp-c-bg-soft);
    border-radius: 50px;
    border: 1px solid var(--rp-c-divider-light);
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--rp-c-text-0);

    &:hover {
      background: var(--rp-c-bg-mute);
      cursor: pointer;
    }
  }

  &__title {
    font-size: 4rem;
    line-height: 1.2em;
    font-weight: 600;
  }

  &__title-brand {
    background: var(--rp-home-hero-title-bg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--rp-home-hero-title-color);
    width: 640px;
  }

  &__subtitle {
    margin: 0;
    font-size: 4rem;
    line-height: 1.2em;
    font-weight: 600;
  }

  &__tagline {
    color: var(--rp-c-text-2);

    font-size: 1rem;
    font-weight: 400;

    @media (min-width: 640px) {
      font-size: 1.125rem;
    }

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
      width: 80%;
    }
  }

  &__action {
    display: flex;
  }
}

.rp-home-hero--no-image {
  .rp-home-hero__container {
    align-items: center;
    text-align: center;
  }
}

.dark .rp-home-hero__image-img--light {
  display: none;
}

.dark .rp-home-hero__image-img--dark {
  display: block;
}
