.socialLinks {
  display: flex;
  gap: 24px;

  .item {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    .icon {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      color: var(--rp-c-text-2);

      &:hover {
        color: var(--rp-c-text-1);
      }
    }
  }
}
