.social-links-icon {
  width: 24px;
  height: 24px;
  display: flex;
  fill: currentColor;
  margin-left: 0.5rem;
  color: var(--rp-c-text-2);

  &:hover {
    color: var(--rp-c-text-1);
  }
}

@media (max-width: 768px) {
  .menu-item:before {
    display: none;
  }
}
