.navTitleMask {
  padding-left: 1.5rem;
  height: var(--rp-nav-height);
  display: flex;
  align-items: center;
}

.sidebar {
  position: fixed;
  // top: var(--rp-nav-height);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: var(--rp-z-index-sidebar);

  width: calc(100vw - 64px);
  max-width: 320px;
  flex-shrink: 0;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition:
    opacity 0.5s,
    transform 0.25s ease;
  background: var(--rp-c-bg);
  &.open {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition:
      opacity 0.25s,
      transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.sidebarContainer {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - var(--rp-nav-height));

  padding: 20px; // TODO: discussion
}

@media (min-width: 960px) {
  .sidebar {
    // Lower than z-index of nav
    z-index: 5;
    opacity: 1;
    visibility: visible;
    position: sticky;
    margin-top: calc(var(--rp-nav-height) * -1);
    height: 100vh;
    width: var(--rp-sidebar-width);
    transform: translate3d(0, 0, 0);
    box-shadow: var(--rp-c-shadow-3);
    mask-image:
      linear-gradient(transparent, #000 20px),
      linear-gradient(270deg, #000 10px, transparent 0);
    --webkit-mask-image: linear-gradient(270deg, #000 10px, transparent 0);
  }
}

.collapseContainer:hover {
  background-color: rgba(229, 229, 229, 0.4);
  transition: all 0.2s;
}

:global(.dark) .collapseContainer:hover {
  background-color: var(--rp-c-bg-mute);
  transition: all 0.2s;
}

.menuGroupActive {
  background-color: var(--rp-c-bg-mute);
}

:global(.rspress-sidebar-group) {
  position: relative;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   // left: 18px;
  //   left: 0;
  //   width: 1px;
  //   height: 100%;
  //   background-color: var(--rp-c-gray-light-4);
  // }
}

:global(.dark) {
  :global(.rspress-sidebar-group)::before {
    background-color: var(--rp-c-bg-mute);
  }

  .sidebar {
    box-shadow: var(--rp-shadow-1);
  }
}
