.navTitleMask {
  padding-left: 1.5rem;
  height: var(--rp-nav-height);
  display: flex;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: var(--rp-z-index-sidebar);
  width: calc(100vw - 64px);
  max-width: 320px;
  opacity: 0;
  transform: translateX(-100%);
  transition:
    opacity 0.5s,
    transform 0.25s ease;
  background: var(--rp-c-bg);
}

.sidebarContent {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - var(--rp-nav-height));
}

.sidebar.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition:
    opacity 0.25s,
    transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 960px) {
  .sidebar {
    // Lower than z-index of nav
    z-index: 5;
    opacity: 1;
    visibility: visible;
    position: sticky;
    margin-top: calc(var(--rp-nav-height) * -1);
    height: 100vh;
    width: var(--rp-sidebar-width);
    transform: translateX(0);
    box-shadow: var(--rp-c-shadow-3);
    mask-image: linear-gradient(transparent, #000 20px),
      linear-gradient(270deg, #000 10px, transparent 0);
    --webkit-mask-image: linear-gradient(270deg, #000 10px, transparent 0);
  }
}

@media (min-width: 1440px) {
  .sidebar {
    width: var(--rp-sidebar-width);
  }
}

.menuLink {
  opacity: 1;
}

.menuLink:hover {
  color: inherit;
  transition: all 0.2s;
}

.menuItem:hover {
  color: var(--rp-c-text-1);
  background-color: var(--rp-c-bg-mute);
  transition: all 0.2s;
}

.collapseContainer:hover {
  background-color: rgba(229, 229, 229, 0.4);
  transition: all 0.2s;
}

:global(.dark) .menuItem:hover,
:global(.dark) .collapseContainer:hover {
  background-color: var(--rp-c-bg-mute);
  transition: all 0.2s;
}

.menuItem,
.menuItemActive {
  font-size: 13px;
  line-height: 19px;
  border-radius: 0 var(--rp-radius) var(--rp-radius) 0;
}

.menuItem {
  color: var(--rp-c-text-2);
  transition: color 0.2s;
  font-weight: 500;
}

.menuItemActive {
  background-color: var(--rp-c-brand-tint);
  color: var(--rp-c-link);
  font-weight: bolder;
  position: relative;
}

.menuItemActive::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: var(--rp-c-brand);
  transition: all 0.2s ease;
}

.menuGroupActive {
  background-color: var(--rp-c-bg-mute);
}

:global(.rspress-sidebar-group) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    width: 1px;
    height: 100%;
    background-color: var(--rp-c-gray-light-4);
  }
}

:global(.rspress-sidebar-section-header) {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 16px;
  > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-size: 14px;
    line-height: 20px;
    color: var(--rp-c-text-1);
    font-weight: bold;
  }
}

:global(.dark) {
  :global(.rspress-sidebar-group)::before {
    background-color: var(--rp-c-bg-mute);
  }

  .sidebar {
    box-shadow: var(--rp-shadow-1);
  }
}
