.sidebarGroup {
  color: var(--rp-c-text-1);
  font-weight: 400 !important; // TODO: discussion
}

.sidebarGroupTopLevel {
  font-weight: 400 !important; // TODO: discussion
  // color: black !important;
}
