:root {
  --rp-iframe-bg: #f6f8fa;
  --rp-iframe-nav-bg: #ffffff;
}

.dark {
  --rp-iframe-bg: #242424;
  --rp-iframe-nav-bg: #191d24;
}

body {
  background-color: var(--rp-iframe-bg) !important;
}

.preview-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-color: var(--rp-iframe-nav-bg);
  font-weight: 600;
  font-size: 17px;
}
