:root .rspress-preview div[class*='language-'] {
  margin: 0;
  border-radius: 0;
  height: 100%;
}

:root {
  --rp-preview-padding: 32px;
}

@media (min-width: 1280px) {
  .rspress-doc-layout {
    width: calc(100% - var(--rp-preview-padding));
    margin-left: var(--rp-preview-padding);
  }

  .rspress-sidebar {
    margin-left: var(--rp-preview-padding);
  }

  .rspress-doc-nav-container {
    max-width: 100%;
    margin-left: var(--rp-preview-padding);
  }

  .rspress-doc-container {
    padding-right: var(--rp-preview-padding);
    padding-left: var(--rp-preview-padding);
  }

  .rspress-doc {
    width: 100%;
    padding-right: var(--rp-preview-padding);
  }
}
