.sun {
  opacity: 1;
}

.moon {
  opacity: 0;
}

:global(.dark) .sun {
  opacity: 0;
}

:global(.dark) .moon {
  opacity: 1;
}

:global(html) {
  &::view-transition-old(root),
  &::view-transition-new(root) {
    animation: none;

    mix-blend-mode: normal;
  }

  &::view-transition-old(root) {
    z-index: 1;
  }

  &::view-transition-new(root) {
    z-index: 9999;
  }
}

:global(.dark) {
  &::view-transition-old(root) {
    z-index: 9999;
  }

  &::view-transition-new(root) {
    z-index: 1;
  }
}
