.rp-sidebar-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  &__left {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--rp-c-text-1);
    font-weight: 600;
  }

  &__right {
    display: flex;
    align-items: center;
  }
}
