.rp-sidebar-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: var(--rp-c-text-1);
    font-weight: 600;
  }

  &__icon {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;

    > svg,
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }
}
