.rp-sidebar-divider {
  border-top: 1px solid var(--rp-c-divider-light);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;

  &--dashed {
    border-top: 1px dashed var(--rp-c-divider-light);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}
