.rspress-playground {
  display: flex;
  border: 1px solid rgba(28, 31, 35, 0.08);
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rspress-playground-horizontal {
  flex-direction: row;
  height: 300px;
}

.rspress-playground-horizontal.rspress-playground-reverse-y {
  flex-direction: row-reverse;
}

.rspress-playground-vertical {
  flex-direction: column;
}

.rspress-playground > .rspress-playground-runner {
  padding: 20px;
  overflow: auto;
}

.rspress-playground-horizontal > .rspress-playground-runner {
  width: 40%;
}

.rspress-playground > .rspress-playground-editor {
  background-color: rgb(249, 249, 249);
}

.rspress-playground-horizontal > .rspress-playground-editor {
  width: 60%;
}

.rspress-playground-vertical > .rspress-playground-editor {
  height: 300px;
}

.rspress-playground > .rspress-playground-editor .monaco-editor,
.rspress-playground > .rspress-playground-editor .monaco-editor-background,
.rspress-playground > .rspress-playground-editor .monaco-editor .margin {
  background-color: rgb(249, 249, 249);
}
