.rspress-playground {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(28, 31, 35, 0.08);
  border-radius: 3px;
  height: 260px;
}

.rspress-playground > .rspress-playground-runner {
  width: 40%;
  padding: 20px;
}

.rspress-playground > .rspress-playground-editor {
  width: 60%;
  background-color: rgb(249, 249, 249);
}

.rspress-playground > .rspress-playground-editor .monaco-editor,
.rspress-playground > .rspress-playground-editor .monaco-editor-background,
.rspress-playground > .rspress-playground-editor .monaco-editor .margin {
  background-color: rgb(249, 249, 249);
}
