.rp-playground {
  display: flex;
  border: 1px solid var(--rp-c-divider-light);
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rp-playground-horizontal {
  flex-direction: row;
  height: 400px;
}

.rp-playground-horizontal.rp-playground-reverse-y {
  flex-direction: row-reverse;
}

.rp-playground-vertical {
  flex-direction: column;
}

.rp-playground-runner {
  position: relative;
  padding: 20px;
  overflow: auto;
}

.rp-playground-horizontal > .rp-playground-runner {
  width: 40%;
}

.rp-playground-horizontal > .rp-playground-editor {
  width: 60%;
}

.rp-playground-horizontal.rp-playground-reverse-y > .rp-playground-editor {
  border-right: 1px solid var(--rp-c-divider-light);
}

.rp-playground-horizontal.rp-playground-reverse-n > .rp-playground-editor {
  border-left: 1px solid var(--rp-c-divider-light);
}

.rp-playground-vertical > .rp-playground-editor {
  height: 300px;
}

.rp-playground-vertical > .rp-playground-editor {
  border-top: 1px solid var(--rp-c-divider-light);
}

.rp-playground-error {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  background: #a12027;
  opacity: 0.86;
  color: #fff;
  padding: 10px;
  overflow: auto;
  font-size: 12px;
}
