@use '../../styles/prefix' as *;

.rspress-logo {
  height: 1.6rem;
}

.dark .#{$prefix}nav__title__logo-image--light {
  display: none;
}

.dark .#{$prefix}nav__title__logo-image--dark {
  display: block;
}
