// Only appear on mobile
.rspress-sidebar-menu {
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--rp-z-index-local-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--rp-c-divider-light);
  border-top: 1px solid var(--rp-c-divider-light);
  width: 100%;
  color: var(--rp-c-text-1);
  background-color: var(--rp-c-bg);
  padding-left: 10px;
  > button {
    background-color: transparent;
    padding: 12px;
    transition: color 0.5s;
    &:hover {
      color: var(--rp-c-text-3);
    }
  }

  &:empty {
    display: none;
  }
}

.rspress-sidebar-back-drop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--rp-z-index-backdrop);
}

@media (min-width: 960px) {
  .rspress-sidebar-menu {
    display: none;
  }
}

.rspress-local-toc-container {
  position: absolute;
  padding: 6px;
  border-radius: var(--rp-radius-small);
  top: calc(var(--rp-nav-height) - 14px);
  background-color: var(--rp-c-bg-soft);
  left: 20px;
  right: 20px;
  max-height: calc(100vh - var(--rp-nav-height) - 20px);
  overflow: scroll;
  box-shadow: var(--rp-shadow-1);
  border: 1px solid var(--rp-c-divider-light);
}

.fly-in-enter {
  opacity: 0;
  transform: translateY(-16px);
}

.fly-in-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 300ms,
    transform 300ms;
}

.fly-in-exit,
.fly-in-exit-active {
  opacity: 0;
  transition: none;
}
