.rp-doc-footer {
  margin-top: 48px;
  &__edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__divider {
    width: 100%;
    height: 0.5px;
    background-color: var(--rp-c-divider-light);
    margin: 48px 0;
  }
}
