@media (min-width: 640px) {
  .pager {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .pager.has-next {
    padding-top: 0;
    padding-left: 16px;
  }
}

.prev {
  width: 100%;
}

.next {
  width: 100%;
}
