.badge {
  font-weight: 500;
  transition: color 0.25s;

  &.tip {
    color: var(--rp-container-tip-text);
    background-color: var(--rp-container-tip-bg);
  }

  &.info {
    color: var(--rp-container-info-text);
    background-color: var(--rp-container-info-bg);
  }

  &.warning {
    color: var(--rp-container-warning-text);
    background-color: var(--rp-container-warning-bg);
  }

  &.danger {
    color: var(--rp-container-danger-text);
    background-color: var(--rp-container-danger-bg);
  }

  &.outline {
    border: 1px solid;

    &.tip {
      border-color: var(--rp-container-tip-border);
    }

    &.info {
      border-color: var(--rp-container-info-border);
    }

    &.warning {
      border-color: var(--rp-container-warning-border);
    }

    &.danger {
      border-color: var(--rp-container-danger-border);
    }
  }
}
