.rp-codeblock {
  position: relative;
  margin: 16px 0;
  border: var(--rp-code-block-border);
  box-shadow: var(--rp-code-block-shadow);

  overflow-x: auto;
  transition: none;
  border-radius: var(--rp-radius);

  @media (max-width: 640px) {
    margin: 24px 0;
    contain: content;
  }
}

.rp-codeblock__title {
  font-family: var(--rp-font-family-mono);
  padding: 12px 16px;
  font-size: var(--rp-code-font-size);
  background-color: var(--rp-code-title-bg);
  border-bottom: var(--rp-code-block-border);
}

.rp-codeblock__content {
  position: relative;
  color: var(--rp-code-block-color);
  background-color: var(--rp-code-block-bg);

  &__scroll-container {
    overflow-x: auto;
  }

  & :where(pre) {
    outline: none; // avoid focus outline https://github.com/web-infra-dev/rspack/issues/11775

    // #region text
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    // #endregion text

    position: relative;
    z-index: 1;
    margin: 0;
    background: transparent;
  }

  & :where(code) {
    font-size: var(--rp-code-font-size);
    font-family: var(--rp-font-family-mono);
    display: inline-block;
    padding: 16px 0;
    width: fit-content;
    min-width: 100%;
    line-height: 1.7;
  }

  &--code-wrap code {
    white-space: pre-wrap !important;
    word-break: break-all !important;
  }

  &--line-numbers code {
    counter-reset: step;
    counter-increment: step 0;
    & .line::before {
      content: counter(step);
      counter-increment: step;
      width: 15px;
      margin-right: 15px;
      display: inline-block;
      text-align: right;
      color: rgba(115, 138, 148, 0.4);
    }
  }
}
