.title {
  position: relative;
  font-weight: 600;
  outline: none;
  :global(.header-anchor) {
    float: left;
    margin-left: -0.8em;
    font-weight: 500;
    opacity: 0;
    font-size: inherit;
    transition:
      color 0.25s,
      opacity 0.25s;
  }
  &:hover {
    :global(.header-anchor) {
      opacity: 1;
    }
  }
  & :global(.header-anchor:focus) {
    opacity: 1;
  }
}

.blockquote,
:global(summary) .blockquote {
  :global(p) {
    margin: 0;
    font-size: 16px;
    color: var(--rp-c-text-2);
  }
}

.link,
:global(summary) .link,
:global(summary a) {
  &:not(:global(.header-anchor)) {
    font-weight: 500;
    color: var(--rp-c-link);
    transition: color 0.25s;
  }

  &:hover {
    border-bottom: 1px solid var(--rp-c-brand);
  }
}

:global(.header-anchor) {
  color: var(--rp-c-brand);
}

:global(.rspress-doc details) {
  margin: 16px 0;
  padding: 8px;
  font-size: normal;
  cursor: pointer;
  transition: all 0.3s;
  p {
    margin: 8px 0;
  }
}

:global(.rspress-doc details:hover) {
  background-color: var(--rp-c-bg-mute);
}

.inline-link {
  display: inline;
  overflow-wrap: break-word;
}

// For the className injected by shiki rehype plugin
:global(span.code-line-highlighted) {
  background-color: var(--rp-code-line-highlight-color);
}
