.h1Title {
  font-size: 2rem; // 36px
  margin-bottom: 2rem; // 32px
}

.h2Title {
  font-size: 1.75rem; // 28px
  margin-top: 3rem; // 48px
  margin-bottom: 2rem;
}

.h3Title {
  font-size: 1.5rem; // 24px
  margin-top: 2rem; // 32px
  margin-bottom: 1.25rem; // 20px
}

.h4Title {
  font-size: 1.25rem; // 20px
  margin-top: 1.5rem; // 24px
  margin-bottom: 1rem; // 16px
}

:global(.rspress-doc) {
  .h2Title:first-of-type::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: var(--rp-c-divider-light);
    margin-bottom: 3rem;
  }
}

.title {
  font-weight: 600;
  position: relative;
  outline: none;
  :global(.header-anchor) {
    float: left;
    margin-left: -0.8em;
    font-weight: 500;
    opacity: 0;
    font-size: inherit;
    transition:
      color 0.25s,
      opacity 0.25s;
  }
  &:hover {
    :global(.header-anchor) {
      opacity: 1;
    }
  }
  & :global(.header-anchor:focus) {
    opacity: 1;
  }
}
