:root {
  --rp-c-brand: #0095ff; /* hsl(204deg 100% 50%) */
  --rp-c-brand-light: #33adff; /* hsl(204deg 100% 60%) */
  --rp-c-brand-lighter: #66c2ff; /* hsl(204deg 100% 70%) */
  --rp-c-brand-dark: #0077ff; /* hsl(214deg 100% 50%) */
  --rp-c-brand-darker: #005fcc; /* hsl(214deg 100% 40%) */
  --rp-c-brand-tint: rgba(127, 163, 255, 0.16);
}
