.wrapper {
  margin-top: 1.5rem;
}

:global(h2) + .wrapper,
:global(h3) + .wrapper {
  margin-top: 0;
}

.badge {
  display: inline-flex;
  margin-right: 8px;
  margin-bottom: 12px;
  padding: 4px 10px;
  color: #1c1c1c;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  background-color: hsl(162deg 60% 75%);
  border-radius: 6px;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

:global(.dark) .badge {
  color: #e1e1e1;
  background-color: hsl(162deg 60% 25%);
}
