:global(.overview-index) {
  h1,
  h2,
  h3 {
    font-weight: 600;
  }

  h2,
  h3 {
    line-height: 1;
  }

  h2 {
    letter-spacing: -0.02em;
  }

  h2 {
    font-size: 24px;
    color: var(--rp-c-text-1);
    margin: 36px 0;
    transition: color 0.5s;
    padding-top: 36px;
    border-top: 1px solid var(--rp-c-divider-light);
  }

  h3,
  h3 > a {
    letter-spacing: -0.01em;
    color: var(--rp-c-link);
    font-size: 18px;
    margin-bottom: 1em;
    transition: color 0.5s;
    font-weight: 600;
  }

  h3 > a {
    margin: 0;
    line-height: 1.3;
  }

  h3:before {
    display: none;
  }

  h1:hover .header-anchor,
  h1:focus .header-anchor,
  h2:hover .header-anchor,
  h2:focus .header-anchor,
  h3:hover .header-anchor,
  h3:focus .header-anchor,
  h4:hover .header-anchor,
  h4:focus .header-anchor,
  h5:hover .header-anchor,
  h5:focus .header-anchor,
  h6:hover .header-anchor,
  h6:focus .header-anchor {
    opacity: 1;
  }

  a.header-anchor {
    float: left;
    margin-top: 0.125em;
    margin-left: -0.87em;
    padding-right: 0.23em;
    font-size: 0.85em;
    opacity: 0;
    font-weight: 500;
    color: var(--rp-c-brand);
    transition: color 0.25s;
    text-decoration-style: dotted;
  }

  a.header-anchor:hover,
  a.header-anchor:focus {
    text-decoration: none;
  }
}

.overview-groups a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 8px;
  color: var(--rp-c-text-code);
  transition: color 0.5s;
  overflow-wrap: break-word;
}

.overview-group-li {
  position: relative;

  &.level-2 {
    padding-left: 1px;

    &:before {
      left: -0.25rem;
    }
  }

  &.level-3 {
    padding-left: 8px;

    &:before {
      left: -0.25rem;
    }
  }

  &.level-4 {
    padding-left: 16px;

    &:before {
      left: -0.25rem;
    }
  }
}

.overview-group {
  break-inside: avoid;
  margin-bottom: 28px;
  background-color: var(--rp-c-bg-soft);
  border-radius: var(--rp-radius);
  padding: 28px 32px;
  transition: background-color 0.5s;
}

@media (max-width: 768px) {
  :global(.overview-index) {
    padding: 42px 24px;

    h1 {
      font-size: 32px;
      margin-bottom: 24px;
    }

    h2 {
      font-size: 22px;
      margin: 42px 0 32px;
      padding-top: 32px;
    }
  }

  .overview-groups a {
    font-size: 14px;
  }

  .header {
    display: block;
  }
}

@media (min-width: 768px) {
  .overview-groups {
    columns: 2;
  }
}

@media (min-width: 1024px) {
  .overview-groups {
    columns: 3;
  }
}
