.toc-link {
  padding-bottom: 1px;
}

.toc-link-text {
  padding: 4px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in-out;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  line-height: 1.75rem;
}

.toc-link-text:hover {
  background-color: var(--rp-c-bg-mute);
}