.rp-toc-item {
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  position: relative;
  color: var(--rp-c-text-2);

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  &__text {
    overflow-wrap: break-word;
  }

  &--active {
    color: var(--rp-c-link);

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: var(--rp-c-brand);
      position: absolute;
      left: calc(-1 * var(--rp-outline-padding-x));
      top: 0px;
    }
  }
}
