/*
  * Container Style
 */
:root {
  --rp-container-info-border: rgba(7, 156, 112, 0.3);
  --rp-container-info-text: #399c70;
  --rp-container-info-bg: rgba(7, 156, 112, 0.06);
  --rp-container-info-code-bg: rgba(7, 156, 112, 0.1);

  --rp-container-warning-border: rgba(255, 197, 23, 0.5);
  --rp-container-warning-text: #ad850e;
  --rp-container-warning-bg: rgba(255, 197, 23, 0.1);
  --rp-container-warning-code-bg: rgba(255, 197, 23, 0.1);

  --rp-container-danger-border: rgba(237, 60, 80, 0.3);
  --rp-container-danger-text: #ab2131;
  --rp-container-danger-bg: rgba(237, 60, 80, 0.08);
  --rp-container-danger-code-bg: rgba(237, 60, 80, 0.1);

  --rp-container-details-border: rgba(128, 128, 128, 0.3);
  --rp-container-details-text: #666666;
  --rp-container-details-bg: rgba(128, 128, 128, 0.1);
  --rp-container-details-code-bg: rgba(128, 128, 128, 0.1);
  --rp-container-details-link: rgb(0, 119, 255);
}

.dark {
  --rp-container-info-text: rgb(66, 215, 140);
  --rp-container-info-bg: rgba(7, 156, 112, 0.1);

  --rp-container-warning-text: rgb(251, 180, 81);
  --rp-container-warning-border: rgba(255, 197, 23, 0.25);
  --rp-container-warning-bg: rgba(255, 197, 23, 0.12);

  --rp-container-danger-text: rgb(247, 110, 133);
  --rp-container-danger-border: rgba(237, 60, 80, 0.3);
  --rp-container-danger-bg: rgba(237, 60, 80, 0.12);

  --rp-container-details-text: var(--rp-text-1);
  --rp-container-details-bg: rgba(128, 128, 128, 0.16);
  --rp-container-details-link: rgb(0, 119, 255);
}

.rspress-doc .rspress-directive {
  border: 1px solid transparent;
  border-radius: var(--rp-radius);
  padding: 20px 24px 12px;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
  margin: 24px 0;
}

.rspress-doc .rspress-directive .rspress-directive-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
}

.rspress-doc .rspress-directive .rspress-directive-content p {
  margin: 8px 0;
}

.rspress-doc .rspress-directive .rspress-directive-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.rspress-doc .rspress-directive p {
  margin: 8px 0;
}

.rspress-doc .rspress-directive code {
  color: inherit;
  font-size: 13px;
}

.rspress-doc .rspress-directive a {
  font-weight: 500;
  transition: color 0.25s;
}

.rspress-doc .rspress-directive.tip,
.rspress-doc .rspress-directive.note,
.rspress-doc .rspress-directive.info {
  border-color: var(--rp-container-info-border);
  background-color: var(--rp-container-info-bg);
}

.rspress-doc .rspress-directive.tip .rspress-directive-title,
.rspress-doc .rspress-directive.note .rspress-directive-title,
.rspress-doc .rspress-directive.info .rspress-directive-title {
  color: var(--rp-container-info-text);
}

.rspress-doc .rspress-directive.tip code,
.rspress-doc .rspress-directive.note code,
.rspress-doc .rspress-directive.info code {
  color: var(--rp-container-info-text);
  background-color: var(--rp-container-info-code-bg);
}

.rspress-doc .rspress-directive.tip a,
.rspress-doc .rspress-directive.note a,
.rspress-doc .rspress-directive.info a {
  color: var(--rp-container-info-text);
}

.rspress-doc .rspress-directive.tip a:hover,
.rspress-doc .rspress-directive.note a:hover,
.rspress-doc .rspress-directive.info a:hover {
  border-bottom: 1px solid var(--rp-container-info-text);
}

.rspress-doc .rspress-directive.warning {
  border-color: var(--rp-container-warning-border);
  background-color: var(--rp-container-warning-bg);
}

.rspress-doc .rspress-directive.warning .rspress-directive-title {
  color: var(--rp-container-warning-text);
}

.rspress-doc .rspress-directive.warning code {
  color: var(--rp-container-warning-text);
  background-color: var(--rp-container-warning-code-bg);
}

.rspress-doc .rspress-directive.warning a {
  color: var(--rp-container-warning-text);
}

.rspress-doc .rspress-directive.warning a:hover {
  border-bottom: 1px solid var(--rp-container-warning-text);
}

.rspress-doc .rspress-directive.caution,
.rspress-doc .rspress-directive.danger {
  border-color: var(--rp-container-danger-border);
  background-color: var(--rp-container-danger-bg);
}

.rspress-doc .rspress-directive.caution .rspress-directive-title,
.rspress-doc .rspress-directive.danger .rspress-directive-title {
  color: var(--rp-container-danger-text);
}

.rspress-doc .rspress-directive.caution code,
.rspress-doc .rspress-directive.danger code {
  color: var(--rp-container-danger-text);
  background-color: var(--rp-container-danger-code-bg);
}

.rspress-doc .rspress-directive.caution a,
.rspress-doc .rspress-directive.danger a {
  color: var(--rp-container-danger-text);
}

.rspress-doc .rspress-directive.caution a:hover,
.rspress-doc .rspress-directive.danger a:hover {
  border-bottom: 1px solid var(--rp-container-danger-text);
}

.rspress-doc .rspress-directive.details {
  border-color: var(--rp-container-details-border);
  background-color: var(--rp-container-details-bg);
}

.rspress-doc .rspress-directive.details .rspress-directive-title {
  color: var(--rp-container-details-text);
}

.rspress-doc .rspress-directive.details code {
  color: var(--rp-container-details-text);
  background-color: var(--rp-container-details-code-bg);
}

.rspress-doc .rspress-directive.details a {
  color: var(--rp-container-details-link);
}

.rspress-doc .rspress-directive.details a:hover {
  border-bottom: 1px solid var(--rp-container-details-link);
}
