/*
  * Container Style
 */
:root {
  --rp-container-note-border: var(--rp-c-divider-light);
  --rp-container-note-text: var(--rp-c-text-1);
  --rp-container-note-bg: var(--rp-c-bg-soft);
  --rp-container-note-code-bg: rgba(128, 128, 128, 0.1);
  --rp-container-note-link: var(--rp-c-link);

  --rp-container-tip-border: rgba(7, 156, 112, 0.2);
  --rp-container-tip-text: #278359;
  --rp-container-tip-bg: rgba(7, 156, 112, 0.06);
  --rp-container-tip-code-bg: rgba(7, 156, 112, 0.1);

  --rp-container-info-border: rgba(0, 149, 255, 0.2);
  --rp-container-info-text: #07f;
  --rp-container-info-bg: rgba(0, 149, 255, 0.06);
  --rp-container-info-code-bg: rgba(0, 149, 255, 0.1);

  --rp-container-warning-border: rgba(255, 197, 23, 0.4);
  --rp-container-warning-text: #887233;
  --rp-container-warning-bg: rgba(255, 197, 23, 0.1);
  --rp-container-warning-code-bg: rgba(255, 197, 23, 0.1);

  --rp-container-danger-border: rgba(237, 60, 80, 0.2);
  --rp-container-danger-text: #ab2131;
  --rp-container-danger-bg: rgba(237, 60, 80, 0.08);
  --rp-container-danger-code-bg: rgba(237, 60, 80, 0.1);

  --rp-container-details-border: var(--rp-c-divider-light);
  --rp-container-details-text: var(--rp-c-text-1);
  --rp-container-details-bg: var(--rp-c-bg-soft);
  --rp-container-details-code-bg: rgba(128, 128, 128, 0.1);
  --rp-container-details-link: var(--rp-c-link);
}

.dark {
  --rp-container-tip-text: #3ec480;
  --rp-container-tip-bg: rgba(7, 156, 112, 0.1);

  --rp-container-info-text: #66c2ff;
  --rp-container-info-bg: rgba(0, 149, 255, 0.1);

  --rp-container-warning-text: rgb(251, 180, 81);
  --rp-container-warning-border: rgba(255, 197, 23, 0.25);
  --rp-container-warning-bg: rgba(255, 197, 23, 0.12);

  --rp-container-danger-text: rgb(247, 110, 133);
  --rp-container-danger-border: rgba(237, 60, 80, 0.3);
  --rp-container-danger-bg: rgba(237, 60, 80, 0.12);
}

.rspress-doc .rspress-directive {
  border: 1px solid transparent;
  border-radius: var(--rp-radius);
  padding: 20px 24px 12px;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
  margin: 24px 0;
}

.rspress-doc .rspress-directive .rspress-directive-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
}

.rspress-doc .rspress-directive .rspress-directive-content p {
  margin: 8px 0;
}

.rspress-doc .rspress-directive .rspress-directive-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.rspress-doc .rspress-directive p {
  margin: 8px 0;
}

.rspress-doc .rspress-directive code {
  color: inherit;
  font-size: 13px;
}

.rspress-doc .rspress-directive a {
  font-weight: 500;
  transition: color 0.25s;
  border-bottom: 1px solid currentColor;
}

.rspress-doc .rspress-directive.note {
  border-color: var(--rp-container-note-border);
  background-color: var(--rp-container-note-bg);
}

.rspress-doc .rspress-directive.note .rspress-directive-title {
  color: var(--rp-container-note-text);
}

.rspress-doc .rspress-directive.note code {
  color: var(--rp-container-note-text);
  background-color: var(--rp-container-note-code-bg);
}

.rspress-doc .rspress-directive.note a {
  color: var(--rp-container-note-text);
}

.rspress-doc .rspress-directive.tip {
  border-color: var(--rp-container-tip-border);
  background-color: var(--rp-container-tip-bg);
}

.rspress-doc .rspress-directive.tip .rspress-directive-title {
  color: var(--rp-container-tip-text);
}

.rspress-doc .rspress-directive.tip code {
  color: var(--rp-container-tip-text);
  background-color: var(--rp-container-tip-code-bg);
}

.rspress-doc .rspress-directive.tip a {
  color: var(--rp-container-tip-text);
}

.rspress-doc .rspress-directive.info {
  border-color: var(--rp-container-info-border);
  background-color: var(--rp-container-info-bg);
}

.rspress-doc .rspress-directive.info .rspress-directive-title {
  color: var(--rp-container-info-text);
}

.rspress-doc .rspress-directive.info code {
  color: var(--rp-container-info-text);
  background-color: var(--rp-container-info-code-bg);
}

.rspress-doc .rspress-directive.info a {
  color: var(--rp-container-info-text);
}

.rspress-doc .rspress-directive.warning {
  border-color: var(--rp-container-warning-border);
  background-color: var(--rp-container-warning-bg);
}

.rspress-doc .rspress-directive.warning .rspress-directive-title {
  color: var(--rp-container-warning-text);
}

.rspress-doc .rspress-directive.warning code {
  color: var(--rp-container-warning-text);
  background-color: var(--rp-container-warning-code-bg);
}

.rspress-doc .rspress-directive.warning a {
  color: var(--rp-container-warning-text);
}

.rspress-doc .rspress-directive.caution,
.rspress-doc .rspress-directive.danger {
  border-color: var(--rp-container-danger-border);
  background-color: var(--rp-container-danger-bg);
}

.rspress-doc .rspress-directive.caution .rspress-directive-title,
.rspress-doc .rspress-directive.danger .rspress-directive-title {
  color: var(--rp-container-danger-text);
}

.rspress-doc .rspress-directive.caution code,
.rspress-doc .rspress-directive.danger code {
  color: var(--rp-container-danger-text);
  background-color: var(--rp-container-danger-code-bg);
}

.rspress-doc .rspress-directive.caution a,
.rspress-doc .rspress-directive.danger a {
  color: var(--rp-container-danger-text);
}

.rspress-doc .rspress-directive.details {
  border-color: var(--rp-container-details-border);
  background-color: var(--rp-container-details-bg);
}

.rspress-doc .rspress-directive.details .rspress-directive-title {
  color: var(--rp-container-details-text);
}

.rspress-doc .rspress-directive.details code {
  color: var(--rp-container-details-text);
  background-color: var(--rp-container-details-code-bg);
}

.rspress-doc .rspress-directive.details a {
  color: var(--rp-container-details-link);
}
