/*
  * Container Style
 */
:root {
  --rp-container-info-border: rgba(7, 156, 112, 0.3);
  --rp-container-info-text: #399c70;
  --rp-container-info-bg: rgba(7, 156, 112, 0.02);
  --rp-container-info-code-bg: rgba(7, 156, 112, 0.1);

  --rp-container-warning-border: rgba(255, 197, 23, 0.5);
  --rp-container-warning-text: #ad850e;
  --rp-container-warning-bg: rgba(255, 197, 23, 0.02);
  --rp-container-warning-code-bg: rgba(255, 197, 23, 0.1);

  --rp-container-danger-border: rgba(237, 60, 80, 0.5);
  --rp-container-danger-text: #ab2131;
  --rp-container-danger-bg: rgba(237, 60, 80, 0.02);
  --rp-container-danger-code-bg: rgba(237, 60, 80, 0.1);
}

.dark {
  --rp-container-warning-border: rgba(255, 197, 23, 0.25);
  --rp-container-warning-text: #fcd253;

  --rp-container-danger-border: rgba(237, 60, 80, 0.25);
  --rp-container-danger-text: #f54e82;
}

.rspress-doc .modern-directive {
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 20px 24px 12px;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 500;
  margin: 24px 0;
}

.rspress-doc .modern-directive .modern-directive-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
}

.rspress-doc .modern-directive .modern-directive-content p {
  margin: 8px 0;
}

.rspress-doc .modern-directive .modern-directive-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.rspress-doc .modern-directive p {
  margin: 8px 0;
}

.rspress-doc .modern-directive code {
  color: inherit;
  font-weight: bold;
  font-size: 13px;
}

.rspress-doc .modern-directive.tip,
.rspress-doc .modern-directive.note,
.rspress-doc .modern-directive.info {
  border-color: var(--rp-container-info-border);
  color: var(--rp-container-info-text);
  background-color: var(--rp-container-info-bg);
}

.rspress-doc .modern-directive.tip code,
.rspress-doc .modern-directive.note code {
  background-color: var(--rp-container-info-code-bg);
}

.rspress-doc .modern-directive.info code {
  background-color: var(--rp-container-info-code-bg);
}

.rspress-doc .modern-directive.warning {
  border-color: var(--rp-container-warning-border);
  color: var(--rp-container-warning-text);
  background-color: var(--rp-container-warning-bg);
}

.rspress-doc .modern-directive.warning code {
  background-color: var(--rp-container-warning-code-bg);
}

.rspress-doc .modern-directive.caution,
.rspress-doc .modern-directive.danger {
  border-color: var(--rp-container-danger-border);
  color: var(--rp-container-danger-text);
  background-color: var(--rp-container-danger-bg);
}

.rspress-doc .modern-directive.caution code,
.rspress-doc .modern-directive.danger code {
  background-color: var(--rp-container-danger-code-bg);
}
