.llmsCopyButtonContainer {
  &.loading {
    background: var(--rp-c-bg-mute);
    opacity: 0.5;
    cursor: wait;
  }

  &.success {
    color: var(--rp-c-text-1);

    .iconCopy {
      display: none;
    }

    .iconSuccess {
      opacity: 1;
      visibility: inherit;
      transition-delay: 0.075s;
    }
  }
}

.iconContainer {
  width: 16px;
  height: 16px;
  position: relative;
}

.iconCopy {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconSuccess {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
}
