.dropdownButton {
  position: relative;

  &.active {
    background: var(--rp-c-bg-mute);
    color: var(--rp-c-text-1);
    border-color: var(--rp-c-divider);
  }
}

.dropdownArrow {
  transition: transform 0.2s ease;
  &.rotated {
    transform: rotate(180deg);
  }
}

.dropdownMenu {
  width: max-content;
  min-width: 200px;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  z-index: 100;

  display: flex;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 8px;
  border: 1px solid var(--rp-c-divider-light);
  background: var(--rp-c-bg);
  color: var(--rp-c-text-1); /* Ensure text color is set */

  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.15s ease-in-out;
}

// fadeIn
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  color: var(--rp-c-text-2);
  transition:
    background 0.2s,
    color 0.2s;

  &:hover {
    background: var(--rp-c-bg-mute);
    color: var(--rp-c-text-1);
    text-decoration: none;
  }
}

.leftIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 16px;
}

.externalIcon {
  margin-left: auto;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
