/** Define code style */
:root {
  --rp-code-font-size: 14px;
  --rp-code-block-color: rgb(46, 52, 64);
  --rp-code-title-bg: rgba(0, 99, 199, 0.05);
  --rp-code-block-bg: #f6f8fa;

  --rp-code-line-highlight-color: rgba(0, 99, 199, 0.1);
  --rp-code-line-number-color: rgba(235, 235, 235, 0.38);

  --rp-code-copy-code-hover-bg: rgba(255, 255, 255, 0.05);
  --rp-code-wrap-code-hover-bg: rgba(255, 255, 255, 0.05);
}

.dark {
  --rp-code-block-color: rgb(229, 231, 235);
  --rp-code-block-bg: #242424;
  --rp-code-title-bg: rgba(255, 255, 255, 0.04);
  --rp-code-line-highlight-color: rgba(255, 255, 255, 0.1);
  --rp-code-line-number-color: rgba(60, 60, 60, 0.33);
}

.rspress-doc :not(pre, h1, h2, h3, h4, h5, h6) > code
{
  font-size: var(--rp-code-font-size);
}

.rspress-doc :not(pre, div) > code
{
  padding: 3px 6px;
  border-radius: var(--rp-radius-small);
  color: var(--rp-c-text-code);
  background-color: var(--rp-c-text-code-bg);
  overflow-wrap: break-word;
}

.rspress-doc h1 > code,
.rspress-doc h2 > code,
.rspress-doc h3 > code {
  font-size: 0.9em;
}

.rspress-doc a > code {
  color: var(--rp-c-brand-dark);
  transition: color 0.25s;
}

.rspress-doc a:hover > code {
  color: var(--rp-c-brand);
}

.rspress-doc div[class^='language-'] {
  position: relative;
  margin: 16px 0;
  background-color: var(--rp-code-block-bg);
  overflow-x: auto;
  transition: none;
}

.rspress-doc .rspress-code-title {
  padding: 12px 16px;
  font-size: var(--rp-code-font-size);
  background-color: var(--rp-code-title-bg);
  transition: background-color 0.5s;
}

@media (min-width: 640px) {
  .rspress-doc div[class^='language-'] {
    border-radius: var(--rp-radius);
    margin: 24px 0;
    /* box-shadow: 0px 0.8px 2px rgba(0, 0, 0, 0.032), */
    /* 0px 2.7px 6.7px rgba(0, 0, 0, 0.048), 0px 12px 30px rgba(0, 0, 0, 0.08); */
    contain: content;
  }
}

@media (max-width: 640px) {
  .rspress-doc li div[class^='language-'] {
    border-radius: var(--rp-radius-small) 0 0 var(--rp-radius-small);
  }
}

.rspress-doc [class^='language-'] pre,
.rspress-doc [class^='language-'] code {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.rspress-doc [class^='language-'] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  background: transparent;
  overflow-x: auto;
}

.rspress-doc [class^='language-'] code {
  display: block;
  padding: 16px 0;
  width: fit-content;
  min-width: 100%;
  line-height: 1.7;
  font-size: var(--rp-code-font-size);
  color: var(--rp-code-block-color);
  background-color: var(--rp-code-block-bg);
  transition: color 0.5s;
}

.rspress-doc [class^='language-'] .rspress-code-content {
  position: relative;
}


.rspress-doc [class^='language-'] .rspress-code-content span.highlighted {
  background-color: var(--rp-code-line-highlight-color);
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  padding-left: 20px;
}

.rspress-doc [class^='language-'] .rspress-code-content > code {
  padding: 16px 20px;
}
