/** Define code style */
html:not(.rp-dark) {
  --rp-code-font-size: 14px;
  --rp-code-block-color: rgb(46, 52, 64);
  --rp-code-title-bg: #e9f0f7;
  --rp-code-block-bg: #f6f8fa;

  --rp-code-copy-code-hover-bg: rgba(255, 255, 255, 0.05);
  --rp-code-wrap-code-hover-bg: rgba(255, 255, 255, 0.05);
}

html.rp-dark {
  --rp-code-font-size: 14px;
  --rp-code-block-color: rgb(229, 231, 235);
  --rp-code-title-bg: #2d2d2d;
  --rp-code-block-bg: #242424;

  --rp-code-copy-code-hover-bg: rgba(255, 255, 255, 0.05);
  --rp-code-wrap-code-hover-bg: rgba(255, 255, 255, 0.05);
}
