.rp-social-links {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 100%;
  min-height: 40px;
  position: relative;

  &__item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__hover-group {
      width: auto;
    }
    &__text {
      word-break: keep-all;
      white-space: nowrap;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    color: var(--rp-c-text-2);

    &:hover {
      color: var(--rp-c-text-1);
    }
  }
  &__hidden {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
}
