.llmsTxtCopyButtonContainer {
  display: inline-flex;
  padding: 8px 12px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid #e5e6eb;
  background: #fff;

  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  transition:
    background 0.3s ease,
    border 0.3s ease;
  &:hover {
    border-radius: 8px;
    border: 1px solid #e5e6eb;

    background: #f5f5f5;
  }
}

.iconContainer {
  width: 16px;
  height: 16px;
  position: relative;
}

.iconCopy {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconSuccess {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;

  transition:
    opacity 0.2s ease,
    trasform 0.2s ease;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.success {
  .iconCopy {
    display: none;
  }

  .iconSuccess {
    opacity: 1;
    visibility: inherit;
    transition-delay: 0.075s;
  }
}
