.llmsViewOptionsContainer {
  display: inline-flex;
  padding: 8px 12px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid #e5e6eb;
  background: #fff;

  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */

  transition:
    background 0.3s ease,
    border 0.3s ease;
  &:hover {
    background: #f5f5f5;
  }
  &.active {
    background: #f5f5f5;
  }
}

.dropdownButton {
  position: relative;
  cursor: pointer;
}

.dropdownArrow {
  transition: transform 0.2s ease;
  &.rotated {
    transform: rotate(180deg);
  }
}

.dropdownMenu {
  width: 250px;
  position: absolute;
  top: 100%;
  left: -10%;
  z-index: 2;

  margin-top: 4px;

  display: inline-flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 8px;
  border: 1px solid #e5e6eb;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;

  &:hover {
    background: #f5f5f5;
  }
}

.leftIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 16px;
}

.externalIcon {
  margin-left: auto;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
