.dropdownButton {
  display: inline-flex;
  padding: 8px 12px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid var(--rp-c-divider-light);
  background: var(--rp-c-bg);
  color: var(--rp-c-text-1);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  transition:
    background 0.3s ease,
    border 0.3s ease;
  &:hover {
    background: var(--rp-c-bg-mute);
  }
  &.active {
    background: var(--rp-c-bg-mute);
  }
  position: relative;
  cursor: pointer;
}

.dropdownArrow {
  transition: transform 0.2s ease;
  &.rotated {
    transform: rotate(180deg);
  }
}

.dropdownMenu {
  width: 250px;
  position: absolute;
  top: 100%;
  left: -10%;
  z-index: 2;

  margin-top: 4px;

  display: inline-flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 8px;
  border: 1px solid var(--rp-c-divider-light);
  background: var(--rp-c-bg);
  color: var(--rp-c-text-1);

  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
  animation: fadeIn 0.15s ease-in-out;
}

// fadeIn
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;

  &:hover {
    background: var(--rp-c-bg-mute);
  }
}

.leftIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 16px;
}

.externalIcon {
  margin-left: auto;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
