/**
  * Some common css theme variables and they will be used in the tailwind theme as well.
*/
:root {
  --rp-layout-max-width: 1440px;
  --rp-nav-height: 72px;
  --rp-sidebar-width: 320px;
  --rp-aside-width: 368px;
}

:root {
  --rp-c-bg: #ffffff;
  --rp-c-bg-soft: #f9f9f9;
  --rp-c-bg-mute: #f1f1f1;

  --rp-c-divider: rgba(60, 60, 60, 0.29);
  --rp-c-divider-light: rgba(60, 60, 60, 0.12);

  --rp-c-text-1: #213547;
  --rp-c-text-2: rgba(60, 60, 60, 0.66);
  --rp-c-text-3: rgba(60, 60, 60, 0.33);
  --rp-c-text-4: rgba(60, 60, 60, 0.18);

  --rp-c-text-code: #476573;

  --rp-c-brand: #0095ff;
  --rp-c-brand-light: #00aaff;
  --rp-c-brand-lighter: #ecf4ff;
  --rp-c-brand-dark: #0077ff;
  --rp-c-brand-darker: #3367af;
  --rp-c-brand-tint: rgba(127, 163, 255, 0.16);

  --rp-c-gray: #8e8e8e;
  --rp-c-gray-light-1: #aeaeae;
  --rp-c-gray-light-2: #c7c7c7;
  --rp-c-gray-light-3: #d1d1d1;
  --rp-c-gray-light-4: #e5e5e5;
  --rp-c-gray-light-5: #f2f2f2;

  --rp-c-dark: #000000;
  --rp-c-dark-light-1: #2f2f2f;
  --rp-c-dark-light-2: #3a3a3a;
  --rp-c-dark-light-3: #4a4a4a;
  --rp-c-dark-light-4: #5c5c5c;
  --rp-c-dark-light-5: #6b6b6b;
}

.dark {
  --rp-c-bg: #000;
  --rp-c-bg-soft: #2f2f2f;
  --rp-c-bg-mute: #3a3a3a;
  --rp-c-bg-alt: #000;

  --rp-c-divider: rgba(84, 84, 84, 0.65);
  --rp-c-divider-light: rgba(84, 84, 84, 0.48);

  --rp-c-text-1: rgba(255, 255, 255, 0.87);
  --rp-c-text-2: rgba(235, 235, 235, 0.56);
  --rp-c-text-3: rgba(235, 235, 235, 0.38);
  --rp-c-text-4: rgba(235, 235, 235, 0.18);

  /* Will be used in overview page */
  --rp-c-text-code: #c9def1;
}

:root {
  --rp-z-index-local-nav: 10;
  --rp-z-index-nav: 20;
  --rp-z-index-layout-top: 30;
  --rp-z-index-backdrop: 40;
  --rp-z-index-sidebar: 50;
  --rp-z-index-footer: 60;
}

:root {
  --rp-shadow-1: 0 1px 4px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(0, 0, 0, 0.06);
  --rp-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --rp-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --rp-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --rp-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
}
