.aside-container {
  position: sticky;
  display: none;
  top: 0;
  margin-top: calc(var(--rp-nav-height) * -1 - 32px);
  padding-top: calc(var(--rp-nav-height) + 32px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  width: 0;
  max-height: calc(100vh - var(--rp-nav-height) + 32px);
}

.aside-container::-webkit-scrollbar {
  display: none;
}

:global(.rspress-doc) {
  min-height: 60vh;
  view-transition-name: flip;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

::view-transition-old(flip),
::view-transition-new(flip) {
  animation-time: 250ms;
}

::view-transition-old(flip) {
  animation-name: fade-out;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

::view-transition-new(flip) {
  animation-name: fade-in;
  animation-delay: 180ms;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

@media (max-width: 960px) {
  .docLayout {
    position: relative;
  }
  .content {
    padding: 36px 24px 72px 24px;
  }

  :global(.rspress-doc) {
    view-transition-name: none;
  }
}

@media (min-width: 960px) {
  .docLayout {
    width: 100%;
    display: flex;
  }

  .content {
    width: calc(100% - var(--rp-sidebar-width));
    padding: 48px 48px 72px max(24px, calc(48px - var(--rp-sidebar-width)));

    :global(.rspress-doc),
    :global(.rspress-doc-footer) {
      width: 100%;
    }
  }

  .aside-container {
    width: var(--rp-aside-width);
  }
}

@media (min-width: 1280px) {
  .aside-container {
    display: block;
    width: var(--rp-aside-width);
  }

  .content {
    padding: 48px 0 72px 0;
    :global(.rspress-doc),
    :global(.rspress-doc-footer) {
      padding: 0 48px;
      box-sizing: border-box;
      width: calc(100vw - var(--rp-sidebar-width) - var(--rp-aside-width));
      max-width: min(100%, calc(960px + 48px * 2));
      margin: auto;
    }
  }
}

@media (min-width: 1440px) {
  .docLayout {
    width: 100%;
    margin-left: 0;
  }

  .content {
    :global(.rspress-doc),
    :global(.rspress-doc-footer) {
      box-sizing: border-box;
      width: calc(100vw - var(--rp-sidebar-width) - var(--rp-aside-width));
      padding: 0 48px;
      max-width: min(100%, calc(960px + 48px * 2));
      margin: auto;
    }
  }
}
