.aside-container {
  position: sticky;
  display: none;
  top: var(--rp-nav-height);
  padding-top: var(--rp-content-padding-y);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  width: 0;
  max-height: calc(100vh - var(--rp-nav-height) - var(--rp-content-padding-y));
}

.aside-container::-webkit-scrollbar {
  display: none;
}

:global(.rspress-doc) {
  min-height: 60vh;
  view-transition-name: flip;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

::view-transition-old(flip),
::view-transition-new(flip) {
  animation-duration: 250ms;
}

::view-transition-old(flip) {
  animation-name: fade-out;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

::view-transition-new(flip) {
  animation-name: fade-in;
  animation-delay: 180ms;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

.content {
  :global(.rspress-doc),
  :global(.rspress-doc-footer) {
    padding: var(--rp-content-padding-y) var(--rp-content-padding-x);
  }

  :global(.rspress-doc) {
    padding-bottom: 0;
  }

  :global(.rspress-doc-footer) {
    padding-top: 0;
  }
}

@media (max-width: 960px) {
  html:root {
    --rp-content-padding-y: 36px;
  }

  :global(.rspress-doc) {
    view-transition-name: none;
  }
}

@media (min-width: 960px) {
  .aside-container {
    display: none;
    width: var(--rp-aside-width);
  }
  .docLayout {
    display: flex;
  }
}

@media (min-width: 1280px) {
  html:root {
    --rp-content-padding-x: 64px;
  }

  .aside-container {
    display: block;
  }

  .content {
    :global(.rspress-doc),
    :global(.rspress-doc-footer) {
      max-width: min(100%, calc(864px + 64px * 2));
      margin: auto;
    }
  }
}
