.rp-prev-next-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    &__title {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
    &__desc {
      display: block;
      padding: 0 1.25rem;

      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: var(--rp-c-text-3);
    }
    &:hover {
      opacity: 0.7;
      background-color: var(--rp-c-bg-mute);
    }
  }
  &__icon {
    display: inline-flex;
    font-size: 1rem;
  }
  &__placeholder {
    flex: 1;
  }
  &__prev {
    align-items: flex-start;
  }
  &__next {
    align-items: flex-end;
  }

  &__rotate_180 {
    transform: rotate(180deg);
  }
}
