.rp-nav-screen-versions {
  display: flex;
  width: 100%;
  min-height: 36px;
  border-radius: var(--rp-radius-small);
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  font-size: 14px;

  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__icon {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
    &--open {
      transform: rotate(0deg);
    }
  }
}

.rp-nav-screen-versions-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: 8px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease;

  font-size: 14px;

  &__item {
    padding: 0px 24px;
  }

  &--open {
    height: auto;
  }
}
