.clip {
  background: var(--rp-home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--rp-home-hero-name-color);
}

.mask {
  position: absolute;
  background-image: var(--rp-home-mask-background-image);
  max-width: 500px;
  width: 100%;
  height: 500px;
  border-radius: 100%;
  mixblendmode: normal;
  filter: blur(80px);
  opacity: 0.05;
  top: 50%;
  margin-top: -250px;
  transform: translateX(-50%);
  z-index: 0;
}

:global(.dark) .mask {
  opacity: 0.15;
}

@media (min-width: 640px) {
  :global(.rspress-home-hero-image) {
    width: var(--rp-home-hero-image-width);
  }
}

@media (max-width: 640px) {
  :global(.rspress-home-hero-image) {
    max-width: var(--rp-home-hero-image-width-sm);
  }
}

@media (max-width: 768px) {
  .mask {
    display: none;
  }
}
