.rp-home-hero {
  position: relative;
  margin: 10vh auto;
  max-width: 72rem;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__text-container {
    text-align: left;
    align-items: flex-start;
  }

  &__image {
    display: flex;
    min-width: 350px;
    width: 350px;
    max-width: 50vw;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background: var(--rp-c-bg-soft);
    border-radius: 50px;
    border: 1px solid var(--rp-c-divider-light);
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--rp-c-text-0);
    margin-bottom: 2rem;

    &:hover {
      background: var(--rp-c-bg-mute);
      cursor: pointer;
    }
  }

  &__title {
    font-size: 4.5rem;
    line-height: 1em;
    font-weight: 600;
  }

  &__title-brand {
    background: linear-gradient(90deg, #017bff 0%, #017bff 30%, #a673ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    width: 640px;
  }

  &__subtitle {
    margin: 0;
    font-size: 4.5rem;
    line-height: 1em;
    font-weight: 600;
  }

  &__tagline {
    margin-top: 32px;
    color: var(--rp-c-text-2);

    font-size: 1rem;
    font-weight: 400;

    @media (min-width: 640px) {
      font-size: 1.125rem;
    }

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  &__action {
    display: flex;
  }
}

@media (max-width: 768px) {
  .rp-home-hero {
    align-items: center;
    &__container {
      align-items: center;
      text-align: center;
      flex-direction: column-reverse;
    }
    &__text-container {
      align-items: center;
      text-align: center;
    }
    &__content {
      align-items: center;
    }
    &__title {
      line-height: 1.2em;
    }
    &__subtitle {
      line-height: 1.2em;
      font-size: 3.5rem;
    }
    &__image {
      transform: none;
    }
  }
}

.rp-home-hero.rp-home-hero--no-image {
  align-items: center;
  .rp-home-hero__container {
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }
  .rp-home-hero__text-container {
    align-items: center;
    text-align: center;
  }
  .rp-home-hero__content {
    align-items: center;
  }
}
