:root {
  --rp-home-hero-name-color: transparent;
  --rp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--rp-c-brand) 30%,
    #42d392
  );
  --rp-home-hero-image-background-image: none;
  --rp-home-hero-image-filter: none;
  --rp-home-feature-bg: var(--rp-c-bg-soft);
}

.dark {
  --rp-home-bg: #000;
  --rp-home-feature-bg: var(--rp-c-bg-soft);
}
