.rp-home-feature {
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 72rem;

  &__item {
    width: 100%;

    &--span-2,
    &--span-4,
    &--span-6 {
      @media (min-width: 640px) {
        width: 50%;
      }
    }

    &--span-2,
    &--span-4 {
      @media (min-width: 768px) {
        width: 50%;
      }
    }

    &--span-3,
    &--span-6 {
      @media (min-width: 768px) {
        width: calc(100% / 3);
      }
    }

    &--span-3 {
      @media (min-width: 960px) {
        width: 25%;
      }
    }

    &--span-4 {
      @media (min-width: 960px) {
        width: calc(100% / 3);
      }
    }

    &--span-6 {
      @media (min-width: 960px) {
        width: 50%;
      }
    }
  }

  &__item-wrapper {
    height: 100%;
    padding: 0.5rem;
  }

  &__card {
    height: 100%;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    background: var(--rp-home-feature-bg);
    transition: all 0.3s;

    &--clickable {
      cursor: pointer;
    }

    &:hover {
      border: 1px solid var(--rp-c-brand);
      color: var(--rp-c-brand);
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    font-size: 1.875rem;
    text-align: center;
  }

  &__title {
    font-weight: 700;
    text-align: center;
    margin: 0;
  }

  &__detail {
    line-height: 1.5;
    padding-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--rp-c-text-2);
    font-weight: 500;
    margin: 0;
  }
}
