.aside-container {
  position: sticky;
  display: none;
  top: 0;
  margin-top: calc(var(--rp-nav-height) * -1 - 32px);
  padding-top: calc(var(--rp-nav-height) + 32px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  width: 0;
}

.aside-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 960px) {
  .docLayout {
    position: relative;
  }
  .content {
    padding: 36px 24px 72px 24px;
  }
}

@media (min-width: 960px) {
  .docLayout {
    width: 100%;
    margin-top: var(--rp-nav-height);
  }

  .content {
    margin-left: var(--rp-sidebar-width);
    width: calc(100% - var(--rp-sidebar-width));
    padding: 48px 48px 72px 0;

    :global(.rspress-doc) {
      width: 100%;
    }
  }

  .aside-container {
    width: var(--rp-aside-width);
  }
}

@media (min-width: 1280px) {
  .aside-container {
    display: block;
    width: var(--rp-aside-width);
  }

  .content {
    padding: 48px 0 72px 0;
    :global(.rspress-doc) {
      padding: 0 48px;
      box-sizing: content-box;
      width: calc(100vw - var(--rp-aside-width) - var(--rp-sidebar-width));
    }
  }
}

@media (min-width: 1440px) {
  .docLayout {
    width: 100%;
    margin-left: 0;
  }

  .content {
    :global(.rspress-doc) {
      box-sizing: content-box;
      width: calc(100vw - var(--rp-sidebar-width) - var(--rp-aside-width));
      padding: 0
        max(
          48px,
          calc(
            (100vw - var(--rp-sidebar-width) - var(--rp-aside-width) - 960px) /
              2
          )
        );
      max-width: 960px;
    }
  }
}
