.pager-link {
  display: block;
  border: 1px solid var(--rp-c-divider-light) !important;
  border-radius: var(--rp-radius);
  padding: 16px 20px;
  width: 100%;
  height: 100%;
  transition: border-color 0.25s;
}

.pager-link:hover {
  border-color: var(--rp-c-brand) !important;
}

.pager-link:hover .title {
  color: var(--rp-c-brand-dark);
}

.pager-link.next {
  margin-left: auto;
  text-align: right;
}

.desc {
  display: block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  color: var(--rp-c-text-2);
}

.title {
  display: block;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--rp-c-brand);
  transition: color 0.25s;
}
