@use '../../styles/prefix' as *;

.#{$prefix}code-copy-button {
  position: relative;
}

.#{$prefix}code-copy-button__icon--success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  color: #00d600;
}

.#{$prefix}code-copy-button--copied .#{$prefix}code-copy-button__icon--copy {
  transform: scale(0.33);
  opacity: 0;
}

.#{$prefix}code-copy-button--copied .#{$prefix}code-copy-button__icon--success {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-delay: 0.075s;
}
