:root {
  --rp-demo-block-bg: #f7f8fa;
}

.dark {
  --rp-demo-block-bg: #1a1a1a;
}

.rspress-demo-block {
  padding-bottom: 12px;
  background-color: var(--rp-demo-block-bg);
  &-title {
    padding: 12px 12px 8px;
    color: #697b8c;
    font-size: 14px;
  }
  &-main {
    border-right: none;
    border-left: none;
  }
}
