.rp-sidebar-menu {
  width: 100%;
  height: 100%;
  display: flex;

  padding: 0px 20px;

  justify-content: space-between;
  align-items: center;
  background-color: var(--rp-c-bg);
  border-bottom: 1px solid var(--rp-c-divider-light);

  // text
  font-size: 14px;
  font-style: normal;
  font-weight: 600;

  &__left {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    background: transparent;
    flex-shrink: 0;
  }

  &__right {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    background: transparent;
    min-width: 0;
    overflow: hidden;

    &__text {
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    &__icon,
    .rp-progress-circle {
      flex-shrink: 0;
    }
  }

  @media (min-width: 1280px) {
    display: none;
  }

  &__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--rp-z-index-mask);
    backdrop-filter: blur(3px);
    background-color: color-mix(in srgb, var(--rp-c-bg) 60%, transparent);
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }
}
