.rp-home-background {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
  filter: blur(2px);

  pointer-events: none;
  user-select: none;
  background: var(--rp-home-background-bg);
}
