.rp-outline__scroll-to-top {
  cursor: pointer;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--rp-c-text-2);
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
}
